@model IEnumerable<SeaBattle.Web.Models.GameDetails>

@{
    Layout = "_Layout";
}

@foreach (var gameDetails in Model)
{
    <div style="padding: 10px;">
        @if (gameDetails.FirstPlayer.UserName == User.Identity.Name)
        {
            <a asp-action="Play" asp-route-gameId="@gameDetails.Game.GameId" asp-route-playerId="@gameDetails.FirstPlayer.PlayerId">Play with @gameDetails.SecondPlayer.UserName</a>
        }

        @if (gameDetails.SecondPlayer.UserName == User.Identity.Name)
        {
            <a asp-action="Play" asp-route-gameId="@gameDetails.Game.GameId" asp-route-playerId="@gameDetails.SecondPlayer.PlayerId">Play with @gameDetails.FirstPlayer.UserName</a>
        }
    </div>
}

<div style="padding: 10px;">
    <a asp-controller="Game" asp-action="Create">Create</a>
</div>